# Application
SERVER_PORT=8080
FLOWRA_WORKER=true

# MongoDB
MONGODB_URI=mongodb://flowra:your-mongodb-password@mongodb:27017/?replicaSet=rs0&authSource=admin
MONGODB_DATABASE=flowra
MONGODB_ROOT_USERNAME=flowra
MONGODB_ROOT_PASSWORD=

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8090
KEYCLOAK_REALM=flowra
KEYCLOAK_CLIENT_ID=flowra-backend
KEYCLOAK_JWT_AUDIENCE=flowra-backend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_PASSWORD=
FLOWRA_PUBLIC_URL=http://localhost:8080

# Auth
AUTH_JWT_SECRET=

# Logging
LOG_LEVEL=info
