# Application
SERVER_PORT=8080
FLOWRA_WORKER=true

# MongoDB
MONGODB_URI=mongodb://mongodb:27017/?replicaSet=rs0
MONGODB_DATABASE=flowra

# Redis
REDIS_ADDR=redis:6379

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8090
KEYCLOAK_REALM=flowra
KEYCLOAK_CLIENT_ID=flowra-backend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_PASSWORD=
FLOWRA_PUBLIC_URL=http://localhost:8080

# Auth
AUTH_JWT_SECRET=

# Logging
LOG_LEVEL=info
