# Application
SERVER_PORT=8080
FLOWRA_WORKER=true

# MongoDB
MONGODB_URI=mongodb://mongodb:27017/?replicaSet=rs0
MONGODB_DATABASE=flowra

# Redis
REDIS_ADDR=redis:6379

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=flowra
KEYCLOAK_CLIENT_ID=flowra-backend
KEYCLOAK_CLIENT_SECRET=change-me-keycloak-client-secret
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-admin-password

# Auth
AUTH_JWT_SECRET=change-me-auth-jwt-secret

# Logging
LOG_LEVEL=info
